<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                    <form (ngSubmit)="onSubmitupdate($event)" style="left:500px;" align="center">
                          
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Fist Name" type="text"name="name"value={{nameshow}}>
                            <label style="color:tomato;" *ngIf="checkname()">* required</label>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" type="text"name="lastname"value={{lastnameshow}}>
                            <label style="color:tomato;" *ngIf="checklastname()">* required</label>
                          </mat-form-field>
                        </div>
                    </div>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Telephone" name="phone"value={{phoneshow}}>
                                    <label style="color:tomato;" *ngIf="checktelephone()">* required</label>
                                  </mat-form-field>
                              </div>
                            
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email Address" type="email"name="email"value={{emailshow}}>
                                    <label style="color:tomato;" *ngIf="checkemail()">* required</label>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <br>
                        </div>
                         
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="User Name" type="text"name="username"value={{usernameshow}}>
                                  <label style="color:tomato;" *ngIf="checkuser()">* required</label>
                                </mat-form-field>
                              </div>
                             
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" type="password"name="pass1"value={{pass1show}}>
                                <label style="color:tomato;" *ngIf="checkpass1()">* Use 8 characters more</label>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Confirm Password" type="password"name="pass2"value={{pass2show}}>
                                <label style="color:tomato;" *ngIf="checkpass2()">* Use 8 characters more</label>
                                <label style="color:tomato;" *ngIf="checkpassmatch()"> * Password dont match. Try again.</label>
                              </mat-form-field>
                            </div>
                         
                        </div>
                          
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <!-- <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Alec Thompson</h4>
                      <p class="card-description">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div> -->
      </div>
  </div>
</div>
